
.plan{
    background: #f8f7f5;
    border: 1px solid black;
    border-radius: 20px;
    margin: 3rem;
    padding: 2.5rem;
    width: 28rem; 
    height:46rem
}

.plan:hover{
    box-shadow: 0px 0px 16px 2px black
}

.plan h3{
    margin-top: 1rem;
    color: #f4ca59;
    font-size: 3rem;
}

.plan ul{
    list-style: none;
    list-style-type: ' ➤ ';
}

.plan li{
    list-style-type: ' ➤ ';
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: start;
}

.plan a{
    border: 1px solid black ;
    background-color:  #f4ca59;
    color: white
}

@media (max-width:375px) {
    .plan{
        margin-top: 1rem;
        width: 18rem;
        height: 20rem;
    }
    .plan ul{
        display: none;
    }
    .plan h3{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 1439px) {
    #social-media-nav {
      display: none;
    }
  }

.contact{
    margin-top: 2rem;
}

.contact-item{
    font-family: "Roboto Slab", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.contact-item span{
    margin: 0.5rem;
}